<<<<<<< HEAD
<h1>Invoices</h1>
<table>
  <tr>
    <th>Invoice Id
    <th>Customer</th>  
  </tr>

<%= render(@invoices) || "No Invoices" %>

</table>
=======
>>>>>>> 11718ce1d0078d498b2db945ad19233c7c2924a7
